<div class="page-header">
  <%= link_to new_talent_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Talent
  <% end %>
  <h1>Listing talents</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <% if can? :delete, Talent %>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @talents) do |talent| %>
            <td><%= talent.name %></td>
            <td><%= link_to 'Show', talent %></td>
        <td><%= link_to 'Edit', edit_talent_path(talent) %></td>
        <% if can? :delete, Talent %>
          <td><%= link_to 'Destroy', talent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
