<div class="page-header">
  <%= link_to new_extracurricular_activity_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Extracurricular activity
  <% end %>
  <h1>Listing extracurricular activities</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @extracurricular_activities) do |extracurricular_activity| %>
            <td><%= extracurricular_activity.name %></td>
            <td><%= link_to 'Show', extracurricular_activity %></td>
        <td><%= link_to 'Edit', edit_extracurricular_activity_path(extracurricular_activity) %></td>
        <td><%= link_to 'Destroy', extracurricular_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
