<div class="page-header">
  <%= link_to programs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_program_path(@program), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show program</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @program.name %></dd>
  
  <dt>Abbreviation:</dt>
  <dd><%= @program.abbreviation %></dd>

  <dt>Creator:</dt>
  <dd><%= @program.user.try(:email) %></dd>

</dl>
