<div class="page-header">
  <h1>Member Check In</h1>
  <%= hidden_field_tag "network_event_id", @network_event_id %>
  <%= hidden_field_tag "level", @level %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @members) do |member| %>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= phone_to member.phone %></td>
        <td><%= mail_to member.email %></td>
        <td>
         <%= button_tag "Check In", class: "btn btn-primary", id: "check_in_button"%> 
         <%= hidden_field_tag "row_member_id", member.id, class: "row_member_id" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
