<div class="page-header">
  <%= link_to new_network_action_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Action
  <% end %>

  <h1>Actions</h1>  
  
  <%= form_tag network_actions_path, :method => :get, class: "form-horizontal" do %>
    <div class="container">
      
      <div class="form-group">
        <div class="col-md-12">
          <%= select_tag :owner_ids, 
              options_from_collection_for_select(
                User.order(:email).all, 
                :id, 
                :email,
                params[:owner_ids]
              ),
              class: "select2 form-control", 
              multiple: true, 
              data: {
                placeholder: 'Filter by Owner', 
              } 
          %>        
        </div>
      </div>  
      
      <div class="form-group">
        <div class="col-md-12">
          <%= select_tag :actor_ids, 
              options_from_collection_for_select(
                {}, 
                :id, 
                :text,
                params[:actor_ids]
              ),
              class: "select2 ajax form-control", 
              multiple: true, 
              data: { 
                ajax: { url: members_path },
                placeholder: 'Filter by Actor'
              }
          %>
        </div>
      </div>          
      
      <div class="form-group">
        <div class="col-md-12">
          <%= select_tag :network_event,
                options_from_collection_for_select(
                  NetworkEvent.order(:name).all,
                  :id,
                  :name,
                  params[:network_event]
                ),
                class: "select2 form-control",
                multiple: true,
                data: { placeholder: 'Filter by Events' }  %>
        </div>
      </div>   
      
      <div class="form-group">
        <div class="col-md-12">
          <%= select_tag :priorities,
                options_from_collection_for_select(
                  NetworkAction.priorities,
                  :first,
                  lambda { |priority| priority.first.titleize },
                  params[:priorities]
                ),
                class: "select2 form-control",
                multiple: true,
                data: { placeholder: 'Filter by Priority' }  %>
        </div>
      </div>         
      
      <div class="form-group">
        <div class="col-md-12">
          <%= submit_tag 'Filter actions', name: 'commit', class: 'btn btn-primary'%>
        </div>
      </div>           
      
    </div>
  </div>
  
  <% end %>
</div>

<div class="table-responsive">
  
  
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Actor</th>
        <th>Owner</th>
        <th>Event</th>
        <th>Type</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_actions) do |network_action| %>
        <td><%= link_to network_action.actor.try(:name), network_action.actor %></td>
        <td>
          <% if network_action.owner.try(:email) %>
            <%= link_to network_action.owner.email, network_action.owner %>
          <% else %>
            No Owner Yet
          <% end %>
        </td>
        <td>
          <% if network_action.network_event.try(:name) %>
            <%= link_to network_action.network_event.try(:name), 
                    network_action.network_event 
            %>
          <% else %>
            No Event Yet
          <% end %>
        </td>
        <td><%= network_action.action_type if network_action.action_type.present? %></td>
        <td><%= network_action.try(:status).titleize %></td>
        <td><%= network_action.try(:priority).titleize %></td>
        <td><%= network_action.description %></td>
        <td><%= link_to 'Show', network_action %></td>
        <td><%= link_to 'Edit', edit_network_action_path(network_action) %></td>
        <td><%= link_to 'Destroy', network_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
