<tr class="network_event_task" id="network_event_task_<%= @network_event_task.id %>">
  <td class="task_name"><%= @network_event_task.name %></td>
  <td class="task_due_date"><%= if @network_event_task.due_date.present? then @network_event_task.due_date.in_time_zone("Central Time (US & Canada)").strftime('%B %d, %Y') end %> </td>
  <td class="task_completed_at"></td>
  <td class="task_owner"><%= @network_event_task.owner.try(:email) %></td>
  <td class="task_mark">
    <% if not @network_event_task.completed_at.present? %>
      <%= button_to("Mark Completed", network_event_task_path(@network_event_task) , remote: true, method: :patch, name: "task_button", class:"btn btn-primary task_button",
                    params: { :"network_event_task[name]" => @network_event_task.name,
                              :"network_event_task[network_event_id]" => @network_event_task.network_event_id,
                              :"network_event_task[common_task_id]" => @network_event_task.common_task_id,
                              :"network_event_task[completed_at]" => Time.now }) %>
    <% else %>
      Completed 
    <% end %>
  </td>
  <td><%= link_to 'Destroy', @network_event_task, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>