<div class="page-header">
  <%= link_to new_identity_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Identity
  <% end %>
  <h1>Listing identities</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @identities) do |identity| %>
            <td><%= identity.name %></td>
            <td><%= link_to 'Show', identity %></td>
        <td><%= link_to 'Edit', edit_identity_path(identity) %></td>
        <td><%= link_to 'Destroy', identity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
