<%= form_for([@member, @communication], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @communication.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@communication.errors.count, "error") %> prohibited this communication from being saved:</h4>

      <ul>
      <% @communication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
    <%= f.label :contacted_on, class: "col-sm-2 control-label" %>
      <div class='col-sm-10'>
        <div class='input-group date' id='commpicker'>
          <%= f.text_field :contacted_on, class: "form-control" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>    
      </div>
    </div>

  <div class="form-group">
    <%= f.label :type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :kind, 
            Communication.kinds,
            {},
            class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :notes, class: "form-control input-large" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
