<div class="page-header">
  <%= link_to member_path(@member), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_communication_path(@member, @communication), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show communication</h1>
</div>

<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @communication.contacted_on.to_s() %></dd>
  
  <dt>Kind:</dt>
  <dd><%= @communication.kind %></dd>

  <dt>Notes:</dt>
  <dd><%= @communication.notes %></dd>

  <dt>Member:</dt>
  <dd><%= @communication.member.name %></dd>

  <dt>User:</dt>
  <dd><%= @communication.user.try(:email) %></dd>

</dl>
