<%= form_for(@network_event, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @network_event.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@network_event.errors.count, "error") %> prohibited this event from being saved:</h4>

      <ul>
      <% @network_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :program_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :program_id, 
            Program.order(:name).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :location_id, 
            Location.order(:name).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :organization_ids, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :organization_ids, 
            Organization.order(:name).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control",
            multiple: true, 
            data: { placeholder: 'Find Organizations' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :site_contact_ids, 'Site Contacts', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :site_contact_ids, 
            @network_event.site_contacts, 
            :id, 
            :text, 
            {}, 
            class: "select2 ajax form-control", 
            multiple: true, 
            data: { ajax: { url: members_path }, placeholder: 'Find Site Contacts' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :school_contact_ids, 'School Contacts', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :school_contact_ids, 
            @network_event.school_contacts, 
            :id, 
            :text, 
            {}, 
            class: "select2 ajax form-control", 
            multiple: true, 
            data: { ajax: { url: members_path }, placeholder: 'Find School Contacts' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :volunteer_ids, 'Volunteers', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :volunteer_ids, 
            @network_event.volunteers, 
            :id, 
            :text, 
            {}, 
            class: "select2 ajax form-control", 
            multiple: true, 
            data: { ajax: { url: members_path }, placeholder: 'Find Volunteers' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :school_ids, 'Schools', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :school_ids, 
            School.order(:name).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control", 
            multiple: true, 
            data: { placeholder: 'Find Schools' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :graduating_class_ids, 'Graduating Classes', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :graduating_class_ids, 
            GraduatingClass.order(:year).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control", 
            multiple: true, 
            data: { placeholder: 'Find Graduating Classes' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cohort_ids, 'Cohorts', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :cohort_ids, 
            Cohort.order(:name).all, 
            :id, 
            :name, 
            {}, 
            class: "select2 form-control", 
            multiple: true, 
            data: { placeholder: 'Find Cohorts' }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :scheduled_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :scheduled_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Duration (in minutes)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :duration, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :needs_transport, 'Transportation Needed',  class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :needs_transport, class: "form-control"%>
    </div>
  </div>
  <div class="form-group" id='order_div'>
    <%= f.label :transport_ordered_on, 'Transportation Ordered', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :transport_ordered_on, class: "form-control" %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit event_button_name(f.object), class: "btn btn-primary" %>
      <% if controller.action_name == 'new' %>
        <%= f.submit "Save & Create Another", class: "btn btn-primary" %>
      <%end%>
    </div>
  </div>
<% end %>
