<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_network_event_path(@network_event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @network_event.name %></dd>

  <dt>Status:</dt>
  <dd><%= @network_event.status.try(:titleize) %></dd>

  <dt>Program:</dt>
  <dd><%= @network_event.program.try(:name) %></dd>

  <dt>Location:</dt>
  <dd><%= @network_event.location.try(:name) %></dd>

  <dt>Organizations:</dt>
  <% if @network_event.organizations.present? %>
    <%= content_tag_for(:dd, @network_event.organizations) do |organization| %>
      <%= link_to organization.name, organization %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Site Contacts:</dt>
  <% if @network_event.site_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.site_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>School Contacts:</dt>
  <% if @network_event.school_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.school_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Volunteers:</dt>
  <% if @network_event.volunteers.present? %>
    <%= content_tag_for(:dd, @network_event.volunteers) do |volunteer| %>
      <%= link_to volunteer.name, volunteer %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Schools:</dt>
  <% if @network_event.schools.present? %>
    <%= content_tag_for(:dd, @network_event.schools) do |school| %>
      <%= school.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Graduating Classes:</dt>
  <% if @network_event.graduating_classes.present? %>
    <%= content_tag_for(:dd, @network_event.graduating_classes) do |graduating_class| %>
      <%= graduating_class.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Attendance Cohorts:</dt>
  <% if @network_event.attendance_cohorts.present? %>
    <%= content_tag_for(:dd, @network_event.attendance_cohorts) do |cohort| %>
      <%= cohort.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Cohorts Served:</dt>
  <% if @network_event.cohorts.present? %>
    <%= content_tag_for(:dd, @network_event.cohorts) do |cohort| %>
      <%= cohort.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Scheduled at:</dt>
  <dd><%= @network_event.scheduled_at %></dd>

  <dt>Ends At:</dt>
  <dd><% if @network_event.stop_time.present? %>
        <%= @network_event.stop_time %>
      <% end %>
  </dd>

  <dt>Transportation needed:</dt>
  <dd><%= @network_event.needs_transport %></dd>

  <dt>Transportation ordered:</dt>
  <dd><%= @network_event.transport_ordered_on %></dd>

  <dt>Notes:</dt>
  <dd><%= @network_event.notes %></dd>

  <dt>Creator:</dt>
  <dd><%= @network_event.user.try(:email) %></dd>

  <dt>Sign Up:</dt>
  <dd>
    <div class="sign_up__attendee">
      <%= link_to 'Sign Up Attendee', new_network_event_sign_up_path(:network_event_id => @network_event.id, :level => 'attendee') %>
    </div>
    <div class="sign_up__volunteer">
      <%= link_to 'Sign Up Volunteer', new_network_event_sign_up_path(:network_event_id => @network_event.id, :level => 'volunteer') %>
    </div>
  </dd>

  <dt>Check In:</dt>
  <dd>
    <div class="check_in_attendee">
      <%= link_to 'Check In Attendee', new_network_event_check_in_path(:network_event_id => @network_event.id, :level => 'attendee') %>
    </div>
    <div class="check_in_volunteer">
      <%= link_to 'Check In Volunteer', new_network_event_check_in_path(:network_event_id => @network_event.id, :level => 'volunteer') %>
    </div>
  </dd>
</dl>
<p>
  <%= button_tag 'Add task', class: 'btn btn-default js-show-task-btn', id: "task-event-#{@network_event.id}" %>
</p>
<div id= "<%= "js-fields-#{@network_event.id}" %>" class="js-task-fields" hidden>
    <%= render partial: 'task_fields', locals: {project_id: nil, parent_id: nil, network_event_id: @network_event.id } %>
  <br></br>
</div>

<h2>Event Task List</h2>
<div id="event-div-<%= @network_event.id %>">
  <%= arranged_tree_as_list(@network_event.tasks.arrange, {:list_style => :bootstrap_list_group, :li_class => ["task-list-item"]}) do |task| %>
    <div class="row" id="task-row-<%= task.id %>">
      <span class="col-md-2 task-name-pop"><%= task.name %></span>
      <span class="col-md-3"><%= task.formatted_due_date %></span>
      <% if task.completed_at.present? %>
        <span class="col-md-2 task-done">Completed</span>
      <% else %>
        <%= button_to 'Mark completed', task_path(task), remote: true, 
          method: :patch, name: "task_button", class: "task-completed col-md-2 btn btn-link",
            params: { :"task[completed_at]" => Time.now } %>
      <% end %>
      <%= link_to 'Destroy', task, remote: true, method: :delete, data: { confirm: 'Are you sure? All subtask will be destroyed as well.' }, class: "col-md-2" %>
      <%= button_tag 'Add subtask', class: 'js-show-subtask-btn btn btn-link col-md-2' %>
      <div class="js-subtask-fields" hidden>
        <%= render partial: 'task_fields', locals: {network_event_id: @network_event.id, parent_id: task.id, project_id: nil }%>
      </div>
    </div>
  <% end %>
</div>
<h2>Invitees</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_event.invitees.order(:last_name, :first_name)) do |invitee| %>
        <td><%= link_to invitee.name, invitee %></td>
        <td><%= invitee.email %></td>
        <td><%= invitee.phone %></td>
        <td><%= invitee.identity.try(:name) %></td>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Participants</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
        <th>Affiliation</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @participations) do |participation| %>
        <td><%= link_to participation.member.name, participation.member %></td>
        <td><%= participation.member.email %></td>
        <td><%= participation.member.phone %></td>
        <td><%= participation.member.identity.try(:name) %></td>
        <td></td>
        <td><%= participation.participation_type.try(:titlecase) %></td>
      <% end %>
    </tbody>
  </table>
</div>

