<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_network_event_path(@network_event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @network_event.name %></dd>

  <dt>Program:</dt>
  <dd><%= @network_event.program.try(:name) %></dd>

  <dt>Location:</dt>
  <dd><%= @network_event.location.try(:name) %></dd>

  <dt>Organization:</dt>
  <dd><%= @network_event.organization.try(:name) %></dd>

  <dt>Site Contacts:</dt>
  <% if @network_event.site_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.site_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>
  
  <dt>School Contacts:</dt>
  <% if @network_event.school_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.school_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>
  
  <dt>Scheduled at:</dt>
  <dd><%= @network_event.scheduled_at %></dd>

  <dt>Ends At:</dt>
  <dd><%= @network_event.scheduled_at + @network_event.duration.minutes %></dd>

  <dt>Creator:</dt>
  <dd><%= @network_event.user.try(:email) %></dd>

</dl>
