<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_network_event_path(@network_event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @network_event.name %></dd>

  <dt>Program:</dt>
  <dd><%= @network_event.program.try(:name) %></dd>

  <dt>Location:</dt>
  <dd><%= @network_event.location.try(:name) %></dd>

  <dt>Organizations:</dt>
  <% if @network_event.organizations.present? %>
    <%= content_tag_for(:dd, @network_event.organizations) do |organization| %>
      <%= link_to organization.name, organization %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Site Contacts:</dt>
  <% if @network_event.site_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.site_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>School Contacts:</dt>
  <% if @network_event.school_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.school_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Volunteers:</dt>
  <% if @network_event.volunteers.present? %>
    <%= content_tag_for(:dd, @network_event.volunteers) do |volunteer| %>
      <%= link_to volunteer.name, volunteer %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Schools:</dt>
  <% if @network_event.schools.present? %>
    <%= content_tag_for(:dd, @network_event.schools) do |school| %>
      <%= school.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Graduating Classes:</dt>
  <% if @network_event.graduating_classes.present? %>
    <%= content_tag_for(:dd, @network_event.graduating_classes) do |graduating_class| %>
      <%= graduating_class.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Cohorts:</dt>
  <% if @network_event.cohorts.present? %>
    <%= content_tag_for(:dd, @network_event.cohorts) do |cohort| %>
      <%= cohort.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Scheduled at:</dt>
  <dd><%= @network_event.scheduled_at %></dd>

  <dt>Ends At:</dt>
  <dd><%= @network_event.scheduled_at + @network_event.duration.minutes %></dd>
  
  <dt>Transportation needed:</dt>
  <dd><%= @network_event.needs_transport %></dd>

  <dt>Transportation ordered:</dt>
  <dd><%= @network_event.transport_ordered_on %></dd>
  
  <dt>Notes:</dt>
  <dd><%= @network_event.notes %></dd>
  
  <dt>Creator:</dt>
  <dd><%= @network_event.user.try(:email) %></dd>

</dl>

<h2>Invitees</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_event.invitees.order(:last_name, :first_name)) do |invitee| %>
        <td><%= link_to invitee.name, invitee %></td>
        <td><%= invitee.email %></td>
        <td><%= invitee.phone %></td>
        <td><%= invitee.identity %></td>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Participants</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
        <th>Affiliation</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_event.participants.order(:last_name, :first_name)) do |participant| %>
        <td><%= link_to participant.name, participant %></td>
        <td><%= participant.email %></td>
        <td><%= participant.phone %></td>
        <td><%= participant.identity %></td>
      <% end %>
    </tbody>
  </table>
</div>

