<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_network_event_path(@network_event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @network_event.name %></dd>

  <dt>Status:</dt>
  <dd><%= @network_event.status.try(:titleize) %></dd>

  <dt>Program:</dt>
  <dd><%= @network_event.program.try(:name) %></dd>

  <dt>Location:</dt>
  <dd><%= @network_event.location.try(:name) %></dd>

  <dt>Organizations:</dt>
  <% if @network_event.organizations.present? %>
    <%= content_tag_for(:dd, @network_event.organizations) do |organization| %>
      <%= link_to organization.name, organization %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Site Contacts:</dt>
  <% if @network_event.site_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.site_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>School Contacts:</dt>
  <% if @network_event.school_contacts.present? %>
    <%= content_tag_for(:dd, @network_event.school_contacts) do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Volunteers:</dt>
  <% if @network_event.volunteers.present? %>
    <%= content_tag_for(:dd, @network_event.volunteers) do |volunteer| %>
      <%= link_to volunteer.name, volunteer %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Schools:</dt>
  <% if @network_event.schools.present? %>
    <%= content_tag_for(:dd, @network_event.schools) do |school| %>
      <%= school.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Graduating Classes:</dt>
  <% if @network_event.graduating_classes.present? %>
    <%= content_tag_for(:dd, @network_event.graduating_classes) do |graduating_class| %>
      <%= graduating_class.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Cohorts:</dt>
  <% if @network_event.cohorts.present? %>
    <%= content_tag_for(:dd, @network_event.cohorts) do |cohort| %>
      <%= cohort.name %>
    <% end %>
  <% else %>
    <dd></dd>
  <% end %>

  <dt>Scheduled at:</dt>
  <dd><%= @network_event.scheduled_at %></dd>

  <dt>Ends At:</dt>
  <dd><% if @network_event.stop_time.present? %>
        <%= @network_event.stop_time %>
      <% end %>
  </dd>
      
  <dt>Transportation needed:</dt>
  <dd><%= @network_event.needs_transport %></dd>

  <dt>Transportation ordered:</dt>
  <dd><%= @network_event.transport_ordered_on %></dd>
  
  <dt>Notes:</dt>
  <dd><%= @network_event.notes %></dd>
  
  <dt>Creator:</dt>
  <dd><%= @network_event.user.try(:email) %></dd>

  <dt>Sign Up:</dt>
  <dd>
    <div class="sign_up__attendee">
      <%= link_to 'Sign Up Attendee', new_network_event_sign_up_path(:network_event_id => @network_event.id, :level => 'attendee') %>
    </div>
    <div class="sign_up__volunteer">
      <%= link_to 'Sign Up Volunteer', new_network_event_sign_up_path(:network_event_id => @network_event.id, :level => 'volunteer') %>
    </div>
  </dd>

  <dt>Check In:</dt>
  <dd>
    <div class="check_in_attendee">
      <%= link_to 'Check In Attendee', new_network_event_check_in_path(:network_event_id => @network_event.id, :level => 'attendee') %>
    </div>
    <div class="check_in_volunteer">
      <%= link_to 'Check In Volunteer', new_network_event_check_in_path(:network_event_id => @network_event.id, :level => 'volunteer') %>
    </div>
  </dd>
</dl>

<h2>Event Task List</h2>
  <h3><span id="completed-count"><%= @completed_tasks_count %></span> / <span id="total-count"><%= @network_event.network_event_tasks.length %></span> Completed</h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="task-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Due Date</th>
          <th>Completed at</th>
          <th>Owner</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <%= content_tag_for(:tr, @network_event.network_event_tasks) do |task| %>
          <td class="task_name"><a class="task-name" data-url="/network_event_tasks/<%= task.id %>"><%= task.name %></a></td>
          <td class="task_due_date"><span class="date-view"><%= task.formatted_due_date %></span>
            <div class="date-form form-inline" data-task-id="<%= task.id %>">
              <%= date_field_tag :due_date, if task.due_date then task.due_date.in_time_zone("Central Time (US & Canada)").strftime('%Y-%m-%d') end, class: "date-input" %>
              <div class="form-group">
              <%= button_tag "", type: 'button', class: "update-due-date btn btn-primary" do %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
              <%= button_tag "", type: 'button', class: 'btn cancel-update' do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
              </div>
            </div>
          <td class="task_completed_at"><%= task.formatted_completed_at %> </td>
          <td class="task_owner"><a class="task-owner" data-url="/network_event_tasks/<%= task.id %>" 
               data-source="<%= User.editable_options %>"><%= task.owner.try(:email) %></a></td>
          <td class="task_mark">
            <% if not task.completed_at.present? %>
              <%= button_to("Mark Completed", network_event_task_path(task) , remote: true, method: :patch, name: "task_button", class:"btn btn-primary task_button",
                            params: { :"network_event_task[completed_at]" => Time.now }) %>
            <% else %>
              Completed 
            <% end %>
          </td>
          <td><%= link_to 'Destroy', task, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
</div>
<div class="form-group">
  <%= button_tag "Create New Task", class: "btn btn-primary", id: "create-task-button" %>
</div>

<%= form_for @network_event_task, url: network_event_tasks_path, html: { id: "new-task-form" }, :remote => true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
          <%= f.text_field :name, class:"form-control", id: 'task-name' %>
          <%= f.hidden_field :network_event_id, value: @network_event.id %> 
      </div>
      <div class="form-group">
        <%= f.label :owner %>
          <%= f.collection_select :owner_id, User.all, :id, :email, {:include_blank => "No owner selected"}, class: "select2 form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :common_task %>
          <%= f.collection_select :common_task_id, CommonTask.all, :id, :name, {:include_blank => "No common task selected" }, class: "select2 form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :date_modifier, "Due date" %>
        <%= f.collection_select :date_modifier,
              CommonTask.date_modifiers,
              :to_s,
              :titleize,
              {},
              class: "select2 form-control task-field",
              multiple: false,
              data: {placeholder: 'Select Date Modifier'} %>
      </div>
          <%= f.submit "Save Task", class:"btn btn-primary" %>
<% end %>

<h2>Invitees</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_event.invitees.order(:last_name, :first_name)) do |invitee| %>
        <td><%= link_to invitee.name, invitee %></td>
        <td><%= invitee.email %></td>
        <td><%= invitee.phone %></td>
        <td><%= invitee.identity.try(:name) %></td>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Participants</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Identity</th>
        <th>Affiliation</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @participations) do |participation| %>
        <td><%= link_to participation.member.name, participation.member %></td>
        <td><%= participation.member.email %></td>
        <td><%= participation.member.phone %></td>
        <td><%= participation.member.identity.try(:name) %></td>
        <td></td>
        <td><%= participation.participation_type.try(:titlecase) %></td>
      <% end %>
    </tbody>
  </table>
</div>

