<% content_for :page_header do %>
  <%= link_to locations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @location.name %></dd>
  
  <dt>Address 1:</dt> 
  <dd><%= @location.address_one %></dd>
  
  <dt>Address 2:</dt> 
  <dd><%= @location.address_two %></dd>
  
  <dt>City:</dt> 
  <dd><%= @location.city %></dd>
  
  <dt>State:</dt> 
  <dd><%= @location.state %></dd>
  
  <dt>Zip Code:</dt> 
  <dd><%= @location.zip_code %></dd>
  
  <dt>Creator:</dt>
  <dd><%= @location.user.try(:email) %></dd>

</dl>
