<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ed Network</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to('Network', root_path, class: 'navbar-brand') %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <ul class="nav navbar-nav">
                <li><%= link_to('Members', members_path) %></li>
                <li><%= link_to('Events', network_events_path) %></li>
                <li><%= link_to('Actions', network_actions_path) %></li>
              </ul>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %> <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li><%= link_to('Cohorts', cohorts_path) %></li>
                      <li><%= link_to('Extracurricular Activities', extracurricular_activities_path) %></li>
                      <li><%= link_to('Graduating classes', graduating_classes_path) %></li>
                      <li><%= link_to('Locations', locations_path) %></li>
                      <li><%= link_to('Neighborhoods', neighborhoods_path) %></li>
                      <li><%= link_to('Organizations', organizations_path) %></li>
                      <li><%= link_to('Programs', programs_path) %></li>
                      <li><%= link_to('Schools', schools_path) %></li>
                      <li><%= link_to('Talents', talents_path) %></li>
                      <li><%= link_to('Tasks', common_tasks_path) %></li>
                      <li><%= link_to('Users', users_path) %></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to('Event Sign Up', sign_ups_path) %></li>
                      <li><%= link_to('Event Check In', check_ins_path) %></li>
                      <li role="separator" class="divider"></li>
                    <% end %>
                    <li><%= link_to('Edit profile', edit_user_registration_path) %></li>
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
              </li>
            </ul>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="network-template">
        <%= yield %>
      </div>

    </div><!-- /.container -->

  </body>
</html>
