<div class="page-header">
  <%= link_to members_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @member, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing member</h1>
</div>

<%= form_for(@member, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>