<div class="page-header">
  <%= link_to new_member_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Member
  <% end %>
  <h1>Listing members</h1>
  
  <%= form_tag members_path, :method => :get do %>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" name="commit">Go!</button>
      </span>
      <%= text_field_tag 'q', 
            params[:q], 
            class: 'form-control', 
            placeholder: 'Search for...',
            autofocus: true %>
    </div>
  <% end %>

</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @members) do |member| %>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= phone_to member.phone %></td>
        <td><%= mail_to member.email %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @members %>
</div>
