<div class="page-header">
  <%= link_to members_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_path(@member), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show member</h1>
</div>

<dl class="dl-horizontal text-left">
  <dt>First name:</dt>
  <dd><%= @member.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @member.last_name %></dd>

  <dt>Phone:</dt>
  <dd><%= phone_to @member.phone %></dd>

  <dt>Email:</dt>
  <dd><%= mail_to @member.email %></dd>

  <dt>Identity:</dt>
  <dd><%= @member.identity %></dd>

  <dt>Cohorts:</dt>
  <% @member.cohorts.each do |cohort|%>
  <dd><%= cohort.name %></dd>
  <% end %>
  
  <dt>Organizations:</dt>
  <% @member.organizations.each do |organization|%>
  <dd><%= organization.name %></dd>
  <% end %>

  <dt>School:</dt>
  <dd><%= @member.school.try(:name) %></dd>
  
  <dt>Graduation Class:</dt>
  <dd><%= @member.graduation_year %></dd>

  <dt>Neighborhoods:</dt>
  <% @member.neighborhoods.each do |neighborhood|%>
  <dd><%= neighborhood.name %></dd>
  <% end %>

  <dt>Address:</dt>
  <dd><%= @member.address %></dd>

  <dt>City:</dt>
  <dd><%= @member.city %></dd>

  <dt>State:</dt>
  <dd><%= @member.state %></dd>

  <dt>Zip code:</dt>
  <dd><%= @member.zip_code %></dd>

  <dt>Shirt size:</dt>
  <dd><%= @member.shirt_size %></dd>

  <dt>Shirt received:</dt>
  <dd><%= @member.shirt_received %></dd>

  <dt>Talents:</dt>
  <dd><%= @member.talent_list %></dd>

  <dt>Extracurricular Activities:</dt>
  <dd><%= @member.extracurricular_activities_list %></dd>
  
  <dt>Place of worship:</dt>
  <dd><%= @member.place_of_worship %></dd>

  <dt>Recruitment:</dt>
  <dd><%= @member.recruitment %></dd>

  <dt>Community networks:</dt>
  <dd><%= @member.community_networks %></dd>

  <dt>Extra groups:</dt>
  <dd><%= @member.extra_groups %></dd>

  <dt>Other networks:</dt>
  <dd><%= @member.other_networks %></dd>

  <dt>User:</dt>
  <dd><%= @member.user.try(:email) %></dd>

</dl>

<h2> Communications</h2>
<div class="">
<%= link_to new_member_communication_path(@member) , class: 'btn btn-primary' do%>
  <span class='glyphicon glyphicon-plus'></span>
  Record New Communication
<% end %>
</div>
<% if @member.communications.any? %>
 <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Kind</th>
          <th>Notes</th>
          <th>Contacted on</th> 
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @member.communications) do |communication| %>
          <td><%= communication.kind %></td>
          <td><%= communication.notes %></td>
          <td><%= communication.contacted_on %></td>
          <td><%= link_to 'Show', member_communication_path(@member, communication) %></td>
          <td><%= link_to 'Edit', edit_member_communication_path(@member, communication) %></td>
          <td><%= link_to 'Destroy', member_communication_path(@member, communication), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  No communications recorded yet.
<% end %>

<h2>Events Attended</h2>

<% if @member.participations.any? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Program</th>
          <th>Location</th>
          <th>Event Date</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @member.participations) do |participation| %>
          <td><%= link_to participation.network_event.name, participation.network_event %></td>
          <td><%= participation.network_event.program.try(:name) %></td>
          <td><%= participation.network_event.location.try(:name) %></td>
          <td><%= participation.network_event.scheduled_at %></td>
          <td><%= participation.network_event.created_at %></td>
          <td><%= link_to 'Destroy', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  No events attended yet.
<% end %>
